*{
    margin: 0;
    padding: 0;
}
#locationsym{
    height:20px;
    width: 20px;
    color: aliceblue;
    padding-left: 100px;
    }
#telephonesym{
    height:20px;
    width: 20px;
}
#emailsym{
    height:20px;
    width: 20px;
}

#navbar1 {
    height: 30px;
    background-color:#0e1e6a;
    padding-top: 10px;
    font-size: 90px;
    display: flex;
    
    }
a{
    font-size: 12px;
    color: aliceblue;
    padding-right: 100px;
}
#faci{
    padding-right: 50px;
    color: green;
}











header{
    height: 100px;
    background-color: white;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gvticon{
    height: 70px;
    width: 70px;
    margin: 10px,10px,10px,10px;
    padding-left: 60px;
    }
h1{
    color: red;
    text-align: center;
    margin: 10px,10px,10px,10px;
    padding-left: 15px;
    display:inline;
    font-size: 20px;
}
#homesym{
    height: 20px;
    width: 18.27px;
    padding-left: 20px;
    padding-right: 10px;
    
}
header a
{
    font-size: 15px;
    color: darkgray;
    padding-right: 60px;
}








.section1{
   
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: grey;
}













#menusym{
    height:20px;
    width: 20px;
    padding-right: 10px;
}
nav{
    height:30px;
    background-color:#0e1e6a;
    padding: 10px 0;
    text-align: center;
    
}
#mainnav{
    color: white;
    text-decoration: none;
    margin: 0 10px 0 15px;
    font-size: 20px;
   
}













@import url('https://font.googleapis.com/css?family=poppins:100,200,300,400,500,600,700');
.section2{
    height: 500px;
    background: #3333;
    font-family: poppins,sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 25px;
    margin: 0;
}
.cover{
    width: 900px;
    height: 400px;
    margin-top: 50px;
    display: flex;
}
.cover div {
    margin: 15px;
    width: 800px;
    height: 400px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.photo{
    width: 300px;
    height: 200px;
    display: flex;
}
h2{
    text-decoration: underline;
}














.section3{
    background-color:whitesmoke;
    height: 500px;
   
}

h3{
    font-size: 100px;
    text-align: center;
}

.box2{
    margin: 15px;
    width: 300px;
    height: 300px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: visible;
    float: right;
    display: inline;
}
#GOOGLE{
    color: #0e1e6a;
    
}















footer{
    height: 50px;
    background-color:#0e1e6a;
    color: white;
    text-align: center;
    padding-top: 10px;
}

section{
    background-color: greenyellow;
}